* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #191919;
}

html, body {
  min-height: 100%;
  min-width: 100%;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #191919;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.preview {
  background: url("../assets/img/headerBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .preview {
    background-size: 100% 100%;
  }
}
.preview__top .header {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  padding: 0px 60px 25px;
}
.preview__top .header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview__top .header__top .right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.preview__top .header__top .right .header__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.preview__top .header__top .right .header__btn > p {
  font-weight: 600;
  color: #191919;
}
.preview__top .header__top .right > span {
  color: #312EE9;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .preview__top .header__top .right {
    position: fixed;
    right: -100%;
    top: 479px;
    flex-direction: column;
    gap: 20px;
    padding: 50px 45px;
  }
  .preview__top .header__top .right.active {
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 200;
    transition: 0.3s;
  }
}
@media (max-width: 800px) {
  .preview__top .header__top .left > a > img {
    width: 80%;
  }
}
.preview__top .header__top .burger {
  display: none;
  cursor: pointer;
}
.preview__top .header__top .burger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: #191919;
}
@media (max-width: 1050px) {
  .preview__top .header__top .burger span.active:nth-child(2) {
    opacity: 0;
  }
  .preview__top .header__top .burger span.active:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }
  .preview__top .header__top .burger span.active:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }
}
@media (max-width: 1050px) {
  .preview__top .header__top .burger {
    display: block;
  }
}
.preview__top .header__bottom nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview__top .header__bottom nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.preview__top .header__bottom nav ul li > a, .preview__top .header__bottom nav ul li span {
  cursor: pointer;
  color: #191919;
  font-weight: 600;
}
.preview__top .header__bottom nav ul li > .dropDown {
  display: none;
}
.preview__top .header__bottom nav ul li > .dropDown.active {
  min-width: 270px;
  z-index: 999;
  position: absolute;
  top: 44px;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.preview__top .header__bottom nav ul li > .dropDown.active > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 100%;
  padding: 13px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.preview__top .header__bottom nav ul li > .dropDown.active > li:hover {
  background-color: #E8E8F0;
}
.preview__top .header__bottom nav ul li > .dropDown.active > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.preview__top .header__bottom nav ul li > .dropDown.active > li > a > span {
  font-size: 14px;
  font-weight: 500;
}
.preview__top .header__bottom nav ul li > .dropDown.active > li:last-child {
  border-bottom: none;
}
.preview__top .header__bottom nav ul li > .dropDown.active:last-child {
  left: -100px;
}
.preview__top .header__bottom nav.black ul li a, .preview__top .header__bottom nav.black ul li span {
  color: #FFFFFF;
}
@media (max-width: 1050px) {
  .preview__top .header__bottom {
    position: fixed;
    right: -100%;
    top: 165px;
    gap: 0;
  }
  .preview__top .header__bottom.active {
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
    transition: 0.3s;
  }
  .preview__top .header__bottom nav ul {
    flex-direction: column;
    gap: 20px;
    padding: 50px 100px;
  }
}
@media (max-width: 800px) {
  .preview__top .header {
    padding: 0 20px;
  }
}
.preview .smart {
  margin-top: 140px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  position: relative;
}
.preview .smart__top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 820px) {
  .preview .smart__top {
    padding: 10px 20px;
  }
}
.preview .smart__top .title {
  font-size: 35px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
@media (max-width: 820px) {
  .preview .smart__top .title {
    font-size: 18px;
  }
}
.preview .smart__top .subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}
@media (max-width: 820px) {
  .preview .smart__top .subtitle {
    font-size: 14px;
  }
}
.preview .smart__bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 136px;
}
.preview .smart__bottom .smart__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 25px 35px;
}
.preview .smart__bottom .smart__btn:first-child {
  background: linear-gradient(90deg, #D0264F 0%, #E94C72 50.46%, #D0264F 99.87%);
}
.preview .smart__bottom .smart__btn:first-child > p {
  color: #FFFFFF;
}
.preview .smart__bottom .smart__btn > p {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
@media (max-width: 800px) {
  .preview .smart__bottom .smart__btn > p {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .preview .smart__bottom .smart__btn > img {
    width: 10%;
  }
}
@media (max-width: 820px) {
  .preview .smart__bottom .smart__btn {
    padding: 10px 20px;
  }
  .preview .smart__bottom .smart__btn:last-child {
    padding: 15px 20px;
  }
}
@media (max-width: 414px) {
  .preview .smart__bottom .smart__btn {
    padding: 10px 20px;
  }
  .preview .smart__bottom .smart__btn:last-child {
    padding: 13px 20px;
  }
}
@media (max-width: 393px) {
  .preview .smart__bottom .smart__btn {
    padding: 10px 20px;
  }
  .preview .smart__bottom .smart__btn:last-child {
    padding: 5px 20px;
  }
}
@media (max-width: 820px) {
  .preview .smart__bottom {
    margin-bottom: 30px;
    padding: 10px;
  }
}
.preview .smart__ring {
  position: absolute;
  right: 0;
  top: calc(74% - 192px);
}
@media (max-width: 1220px) {
  .preview .smart__ring {
    max-width: 40%;
    top: calc(80% - 192px);
  }
}
@media (max-width: 1112px) {
  .preview .smart__ring {
    top: calc(107% - 192px);
  }
}
@media (max-width: 1024px) {
  .preview .smart__ring {
    max-width: 40%;
    top: calc(114% - 192px);
  }
}
@media (max-width: 912px) {
  .preview .smart__ring {
    display: none;
  }
}
@media (max-width: 820px) {
  .preview .smart {
    margin-top: 100px;
    margin-left: auto;
    gap: 0;
    justify-content: space-around;
  }
}
@media (max-width: 414px) {
  .preview .smart {
    margin-top: 40px;
  }
}

.garanties {
  margin: 35px 60px;
  display: flex;
  align-items: center;
  gap: 45px;
}
@media (max-width: 800px) {
  .garanties {
    margin: 20px 10px 0;
  }
}
@media (max-width: 414px) {
  .garanties {
    flex-direction: column;
    gap: 20px;
  }
}
.garanties-block {
  width: 280px;
  height: 132px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.garanties-block > img {
  max-width: 74px;
  max-height: 52px;
}
@media (max-width: 800px) {
  .garanties-block > img {
    max-width: 56px;
    max-height: 40px;
  }
}
.garanties-block > .title {
  font-weight: 600;
  font-size: 20px;
  color: #191919;
}
@media (max-width: 800px) {
  .garanties-block > .title {
    font-size: 16px;
  }
}
.garanties-block > .subtitle {
  font-size: 15px;
  font-weight: 500;
  color: #707086;
}
@media (max-width: 800px) {
  .garanties-block > .subtitle {
    font-size: 14px;
  }
}

.opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8E8F0;
  margin-bottom: 55px;
}
.opportunities__top {
  padding-top: 50px;
}
.opportunities__top > .title {
  color: #191919;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 45px;
}
@media (max-width: 414px) {
  .opportunities__top > .title {
    font-size: 24px;
    text-align: center;
  }
}
.opportunities__top > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.opportunities__top > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  background: linear-gradient(96.7deg, #312EE9 0%, #8785E1 157.73%);
  border-radius: 10px 10px 0px 0px;
}
.opportunities__top > ul li.active {
  background: #D0264F;
}
.opportunities__top > ul li > span {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  word-wrap: break-word;
}
@media (max-width: 1050px) {
  .opportunities__top > ul li > span {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .opportunities__top > ul li {
    width: 160px;
  }
}
@media (max-width: 1024px) {
  .opportunities__top > ul li {
    width: 162px;
  }
}
@media (max-width: 912px) {
  .opportunities__top > ul li {
    width: 140px;
  }
}
@media (max-width: 820px) {
  .opportunities__top > ul li {
    width: 128px;
  }
}
@media (max-width: 768px) {
  .opportunities__top > ul li {
    width: 125px;
    height: 50px;
  }
}
@media (max-width: 540px) {
  .opportunities__top > ul li:nth-child(n+4) {
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 393px) {
  .opportunities__top > ul li:nth-child(n+3) {
    border-radius: 0;
  }
}
@media (max-width: 1024px) {
  .opportunities__top > ul {
    margin: 0 auto;
  }
}
@media (max-width: 912px) {
  .opportunities__top > ul {
    gap: 13px;
  }
}
@media (max-width: 820px) {
  .opportunities__top > ul {
    gap: 8px;
  }
}
@media (max-width: 800px) {
  .opportunities__top > ul {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .opportunities__top > ul {
    gap: 3px;
  }
}
@media (max-width: 540px) {
  .opportunities__top > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    padding: 0 20px;
  }
}
@media (max-width: 414px) {
  .opportunities__top > ul {
    column-gap: 15px;
    padding: 0 3px;
  }
}
@media (max-width: 393px) {
  .opportunities__top > ul {
    column-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 10px;
  }
}
@media (max-width: 375px) {
  .opportunities__top > ul {
    padding: 0 5px;
  }
}
.opportunities__bottom {
  margin: 0 auto;
  padding: 50px 150px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-top: 2px solid #312EE9;
}
.opportunities__bottom .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 365px;
  flex-basis: 32%;
}
.opportunities__bottom .left > ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}
.opportunities__bottom .left > ul li:nth-child(2n) > svg path {
  stroke: #312EE9;
}
.opportunities__bottom .right {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  align-self: flex-start;
}
.opportunities__bottom .right .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 55px;
  color: #191919;
}
@media (max-width: 414px) {
  .opportunities__bottom .right .title {
    font-size: 24px;
    margin-top: 20px;
  }
}
.opportunities__bottom .right > ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.opportunities__bottom .right > ul li {
  padding: 0px 30px 20px;
}
.opportunities__bottom .right > ul li svg path {
  stroke: #312EE9;
}
@media (max-width: 414px) {
  .opportunities__bottom .right > ul li {
    padding: 0 20px 10px;
  }
}
@media (max-width: 393px) {
  .opportunities__bottom .right > ul li {
    padding: 0 15px;
  }
}
.opportunities__bottom .right > ul li.active {
  border: 2px solid #D0264F;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid transparent;
}
.opportunities__bottom .right > ul li.active svg path {
  stroke: #D0264F;
}
@media (max-width: 912px) {
  .opportunities__bottom .right > ul {
    gap: 25px;
  }
}
.opportunities__bottom .right .subtitle {
  border: 2px solid #D0264F;
  padding: 30px;
  border-radius: 0 10px 10px 10px;
  position: relative;
}
.opportunities__bottom .right .subtitle .jammer {
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #E8E8F0;
  width: 95px;
  height: 10px;
}
@media (max-width: 414px) {
  .opportunities__bottom .right .subtitle .jammer {
    width: 75px;
  }
}
@media (max-width: 393px) {
  .opportunities__bottom .right .subtitle .jammer {
    width: 65px;
  }
}
.opportunities__bottom .right .subtitle h4 {
  color: #191919;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.opportunities__bottom .right .subtitle p {
  font-weight: 500;
  color: #191919;
}
@media (max-width: 393px) {
  .opportunities__bottom .right .subtitle p {
    font-size: 14px;
    word-break: break-all;
  }
}
@media (max-width: 393px) {
  .opportunities__bottom .right .subtitle {
    padding: 5px;
  }
}
@media (max-width: 1280px) {
  .opportunities__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 50px 100px;
  }
}
@media (max-width: 1024px) {
  .opportunities__bottom {
    margin: 0;
  }
}
@media (max-width: 912px) {
  .opportunities__bottom {
    padding: 10px 10px;
  }
}
@media (max-width: 540px) {
  .opportunities__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 1050px) {
  .opportunities {
    align-items: flex-start;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 0 150px;
  margin-bottom: 55px;
}
.about__left h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about__left .subtitle {
  background-image: url("../assets/img/aboutBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 190px;
  position: relative;
}
.about__left .subtitle > img {
  position: absolute;
  top: calc(50% - 60px);
  right: calc(50% - 93px);
}
@media (max-width: 414px) {
  .about__left .subtitle > img {
    width: 40%;
    top: calc(50% - 51px);
    right: calc(50% - 68px);
  }
}
@media (max-width: 375px) {
  .about__left .subtitle > img {
    width: 30%;
    top: calc(50% - 37px);
    right: calc(50% - 48px);
  }
}
.about__left .subtitle .proc {
  display: flex;
  flex-direction: column;
  gap: 175px;
  align-items: center;
}
.about__left .subtitle .proc__top {
  display: flex;
  gap: 38px;
  align-items: flex-end;
  height: 250px;
}
.about__left .subtitle .proc__top .cart:nth-child(2) {
  align-self: flex-start;
}
@media (max-width: 414px) {
  .about__left .subtitle .proc__top .cart:nth-child(2) {
    align-self: center;
  }
}
@media (max-width: 375px) {
  .about__left .subtitle .proc__top .cart:nth-child(2) {
    align-self: flex-start;
  }
}
.about__left .subtitle .proc__top .cart:nth-child(2n+1) {
  background: linear-gradient(135deg, #312EE9 0%, #8785E1 100%);
}
@media (max-width: 375px) {
  .about__left .subtitle .proc__top {
    height: 130px;
  }
}
.about__left .subtitle .proc__bottom {
  display: flex;
  align-items: flex-start;
  gap: 38px;
  height: 250px;
}
.about__left .subtitle .proc__bottom .cart:nth-child(2) {
  align-self: flex-end;
}
@media (max-width: 414px) {
  .about__left .subtitle .proc__bottom .cart:nth-child(2) {
    align-self: center;
  }
}
@media (max-width: 375px) {
  .about__left .subtitle .proc__bottom .cart:nth-child(2) {
    align-self: flex-end;
  }
}
.about__left .subtitle .proc__bottom .cart:nth-child(2n) {
  background: linear-gradient(135deg, #312EE9 0%, #8785E1 100%);
}
@media (max-width: 375px) {
  .about__left .subtitle .proc__bottom {
    height: 130px;
  }
}
.about__left .subtitle .proc__top .cart, .about__left .subtitle .proc__bottom .cart {
  background: linear-gradient(135deg, #D0264F 0%, #FF7999 100%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  width: 175px;
  height: 175px;
}
@media (max-width: 540px) {
  .about__left .subtitle .proc__top .cart, .about__left .subtitle .proc__bottom .cart {
    width: 150px;
    height: 150px;
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 414px) {
  .about__left .subtitle .proc__top .cart, .about__left .subtitle .proc__bottom .cart {
    width: 100px;
    height: 100px;
    font-size: 12px;
    padding: 10px;
  }
}
@media (max-width: 375px) {
  .about__left .subtitle .proc__top .cart, .about__left .subtitle .proc__bottom .cart {
    width: 90px;
    height: 90px;
    font-size: 10px;
    padding: 0px;
    line-break: anywhere;
  }
}
@media (max-width: 414px) {
  .about__left .subtitle .proc {
    gap: 100px;
  }
}
@media (max-width: 375px) {
  .about__left .subtitle .proc {
    gap: 80px;
  }
}
@media (max-width: 414px) {
  .about__left .subtitle {
    background-size: 80%;
  }
}
.about__right p {
  padding: 22px;
  font-weight: 500;
}
@media (max-width: 414px) {
  .about__right p {
    font-size: 16px;
  }
}
.about__right .slider {
  position: relative;
  max-width: 475px;
}
.about__right .slider .arrow__left-block, .about__right .slider .arrow__right-block {
  position: absolute;
  top: calc(50% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 100px;
}
.about__right .slider .arrow__left-block {
  left: 1%;
}
@media (max-width: 414px) {
  .about__right .slider .arrow__left-block {
    left: 11%;
  }
}
.about__right .slider .arrow__right-block {
  right: 1%;
}
@media (max-width: 414px) {
  .about__right .slider .arrow__right-block {
    right: 11%;
  }
}
@media (max-width: 414px) {
  .about__right .slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__right .slider > img {
    width: 80%;
  }
}
@media (max-width: 1280px) {
  .about__right {
    display: flex;
  }
}
@media (max-width: 935px) {
  .about__right {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .about {
    flex-direction: column;
    padding: 50px 80px;
  }
}
@media (max-width: 414px) {
  .about {
    padding: 10px;
    gap: 0;
  }
}

.advantages {
  background-color: #E8E8F0;
  padding: 50px 0;
}
.advantages__title {
  padding: 0 150px;
  margin-bottom: 125px;
}
@media (max-width: 360px) {
  .advantages__title {
    padding: 10px;
  }
}
@media (max-width: 540px) {
  .advantages__title {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .advantages__title {
    padding: 0;
    text-align: center;
  }
}
.advantages__subtitle {
  background-image: url("../assets/img/advantagesBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.advantages__subtitle .advantages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block span {
    font-size: 14px;
  }
}
.advantages__subtitle .advantages-block img {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block img {
    max-width: 25%;
  }
}
.advantages__subtitle .advantages-block .ellipse {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #D0264F;
}
.advantages__subtitle .advantages-block:first-child {
  top: -19%;
  left: 10.3%;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:first-child {
    left: 5.3%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:first-child {
    top: -3%;
    left: 9.5%;
  }
  .advantages__subtitle .advantages-block:first-child > img {
    max-width: 40%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:first-child {
    top: 0%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:first-child {
    top: 2%;
    left: 9%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:first-child {
    top: 4%;
    left: 8.6%;
  }
}
.advantages__subtitle .advantages-block:nth-child(2) {
  top: 35%;
  left: 14.7%;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(2) {
    left: 10.2%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(2) {
    top: 34%;
    left: 13.7%;
  }
  .advantages__subtitle .advantages-block:nth-child(2) > img {
    max-width: 40%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(2) {
    left: 13.3%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(2) {
    left: 12.7%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(2) {
    left: 12%;
  }
}
.advantages__subtitle .advantages-block:nth-child(3) {
  top: -14%;
  left: 21.5%;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(3) {
    left: 18%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(3) {
    top: 3%;
    left: 20.5%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(3) {
    left: 20%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(3) {
    top: 5%;
    left: 19%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(3) {
    top: 5%;
    left: 18.5%;
  }
}
.advantages__subtitle .advantages-block:nth-child(4) {
  top: 37%;
  left: 29.5%;
}
.advantages__subtitle .advantages-block:nth-child(4) span {
  max-width: 137px;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(4) {
    top: 39%;
    left: 26.8%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(4) {
    top: 35%;
    left: 27.5%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(4) {
    left: 26.7%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(4) {
    left: 25.9%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(4) {
    left: 25.3%;
  }
}
.advantages__subtitle .advantages-block:nth-child(5) {
  top: -5%;
  left: 37.9%;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(5) {
    top: -3%;
    left: 36.5%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(5) {
    top: 9%;
    left: 36.5%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(5) {
    top: 10%;
    left: 35.7%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(5) {
    top: 12%;
    left: 35%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(5) {
    top: 12%;
    left: 34.3%;
  }
}
.advantages__subtitle .advantages-block:nth-child(6) {
  top: 26%;
  left: 48.5%;
}
.advantages__subtitle .advantages-block:nth-child(6) span {
  max-width: 140px;
  text-align: center;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(6) {
    left: 48.3%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(6) {
    left: 46.3%;
  }
  .advantages__subtitle .advantages-block:nth-child(6) > img {
    max-width: 20%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(6) {
    left: 45.7%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(6) {
    left: 44.7%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(6) {
    top: 28%;
    left: 44%;
  }
}
.advantages__subtitle .advantages-block:nth-child(7) {
  top: -23%;
  left: 58.2%;
}
.advantages__subtitle .advantages-block:nth-child(7) span {
  max-width: 140px;
  text-align: center;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(7) {
    left: 59.2%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(7) {
    top: -6%;
    left: 56.2%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(7) {
    left: 55.5%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(7) {
    left: 54.6%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(7) {
    left: 54%;
  }
}
.advantages__subtitle .advantages-block:nth-child(8) {
  top: 42%;
  left: 68.1%;
}
.advantages__subtitle .advantages-block:nth-child(8) span {
  max-width: 120px;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(8) {
    left: 70.3%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(8) {
    left: 66.3%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(8) {
    top: 41%;
    left: 65.7%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(8) {
    top: 37%;
    left: 65.1%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(8) {
    top: 37%;
    left: 64.3%;
  }
}
.advantages__subtitle .advantages-block:nth-child(9) {
  top: -7%;
  right: 16.6%;
}
.advantages__subtitle .advantages-block:nth-child(9) span {
  max-width: 120px;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:nth-child(9) {
    right: 12.5%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:nth-child(9) {
    top: 6%;
    right: 15%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:nth-child(9) {
    top: 9%;
    right: 14%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:nth-child(9) {
    right: 13.4%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:nth-child(9) {
    right: 12.8%;
  }
}
.advantages__subtitle .advantages-block:last-child {
  top: 35%;
  right: 10%;
}
.advantages__subtitle .advantages-block:last-child span {
  max-width: 120px;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 1280px) {
  .advantages__subtitle .advantages-block:last-child {
    right: 5%;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle .advantages-block:last-child {
    top: 33%;
    right: 8.3%;
  }
  .advantages__subtitle .advantages-block:last-child > img {
    max-width: 20%;
  }
}
@media (max-width: 912px) {
  .advantages__subtitle .advantages-block:last-child {
    right: 7.6%;
  }
}
@media (max-width: 820px) {
  .advantages__subtitle .advantages-block:last-child {
    right: 7%;
  }
}
@media (max-width: 768px) {
  .advantages__subtitle .advantages-block:last-child {
    right: 6%;
  }
}
@media (max-width: 540px) {
  .advantages__subtitle .advantages-block {
    padding: 10px;
    position: inherit;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .advantages__subtitle .advantages-block .ellipse {
    display: none;
  }
  .advantages__subtitle .advantages-block:nth-child(n) {
    top: 0;
    left: 0;
    border-bottom: 1px solid #D0264F;
  }
}
@media (max-width: 540px) and (max-width: 414px) {
  .advantages__subtitle .advantages-block:nth-child(n) > img {
    max-width: 8%;
  }
}
@media (max-width: 540px) {
  .advantages__subtitle .advantages-block:nth-child(n) > span {
    max-width: fit-content;
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 540px) and (max-width: 414px) {
  .advantages__subtitle .advantages-block:nth-child(n) > span {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .advantages__subtitle {
    background-size: contain;
  }
}
@media (max-width: 540px) {
  .advantages__subtitle {
    background: none;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 1440px) {
  .advantages {
    min-width: 100%;
  }
}
@media (max-width: 360px) {
  .advantages {
    padding: 10px;
  }
}

.complect {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px 150px;
}
.complect__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.complect__left > h3 {
  font-weight: 500;
  font-size: 23px;
}
@media (max-width: 393px) {
  .complect__left > h3 {
    font-size: 16px;
    margin-top: 20px;
  }
}
.complect__left > p {
  font-size: 18px;
}
@media (max-width: 393px) {
  .complect__left > p {
    font-size: 14px;
  }
}
.complect__left .complect__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  background: #D0264F;
  color: #FFFFFF;
}
.complect__left .complect__btn > span {
  font-weight: 600;
  color: #FFFFFF;
}
@media (max-width: 414px) {
  .complect__left .complect__btn {
    align-self: center;
  }
}
.complect__right {
  position: relative;
}
.complect__right .arrow__left-block, .complect__right .arrow__right-block {
  position: absolute;
  top: calc(50% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 100px;
}
.complect__right .arrow__left-block {
  left: 1%;
}
@media (max-width: 414px) {
  .complect__right .arrow__left-block {
    left: 11%;
  }
}
.complect__right .arrow__right-block {
  right: 3%;
}
@media (max-width: 414px) {
  .complect__right .arrow__right-block {
    right: 11%;
  }
}
@media (max-width: 414px) {
  .complect__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .complect__right > img {
    width: 80%;
  }
}
@media (max-width: 1280px) {
  .complect {
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .complect {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .complect {
    padding: 10px;
  }
}

.sheme {
  background-color: #E8E8F0;
  padding: 50px 150px;
}
.sheme__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
}
@media (max-width: 375px) {
  .sheme__title {
    margin-top: 20px;
    font-size: 20px;
  }
}
.sheme__subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sheme__subtitle .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sheme__subtitle .top__garant-block > svg path:last-child {
  transform: translate(45px, 46px);
}
.sheme__subtitle .top .top__garant-block, .sheme__subtitle .bottom .bottom__garant-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
}
.sheme__subtitle .top .top__garant-block > .img__container, .sheme__subtitle .bottom .bottom__garant-block > .img__container {
  padding: 15px 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #312EE9 0%, #8785E1 100%);
  margin-bottom: 3px;
}
@media (max-width: 414px) {
  .sheme__subtitle .top .top__garant-block > .img__container, .sheme__subtitle .bottom .bottom__garant-block > .img__container {
    padding: 10px 15px;
  }
}
.sheme__subtitle .top .top__garant-block > h4, .sheme__subtitle .bottom .bottom__garant-block > h4 {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 414px) {
  .sheme__subtitle .top .top__garant-block > h4, .sheme__subtitle .bottom .bottom__garant-block > h4 {
    font-size: 14px;
  }
}
.sheme__subtitle .top .top__garant-block > p, .sheme__subtitle .bottom .bottom__garant-block > p {
  text-align: center;
  font-weight: 500;
}
@media (max-width: 414px) {
  .sheme__subtitle .top .top__garant-block > p, .sheme__subtitle .bottom .bottom__garant-block > p {
    font-size: 14px;
  }
}
.sheme__subtitle .top .top__garant-block > svg, .sheme__subtitle .bottom .bottom__garant-block > svg {
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 3px;
}
@media (max-width: 414px) {
  .sheme__subtitle .top .top__garant-block > svg, .sheme__subtitle .bottom .bottom__garant-block > svg {
    width: 40%;
  }
}
.sheme__subtitle .middle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sheme__subtitle .middle > .img__container {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheme__subtitle .middle > .img__container:first-child {
  border: 3px solid #312EE9;
}
.sheme__subtitle .middle > .img__container:last-child {
  border: 3px solid #D0264F;
}
@media (max-width: 414px) {
  .sheme__subtitle .middle > .img__container {
    width: 35px;
    height: 30px;
  }
}
.sheme__subtitle .middle .line {
  max-width: 1200px;
  width: 1200px;
  border: 3px solid #505050;
  border-radius: 5px;
}
.sheme__subtitle .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.sheme__subtitle .bottom__garant-block > svg path:first-child {
  transform: translate(0, 2px);
}
.sheme__subtitle .bottom__garant-block > svg path:last-child {
  transform: translate(45px, 0px);
}
.sheme__subtitle .bottom__garant-block > p {
  margin-bottom: 3px;
}
@media (max-width: 1024px) {
  .sheme__subtitle .bottom {
    gap: 200px;
  }
}
@media (max-width: 820px) {
  .sheme__subtitle .bottom {
    gap: 100px;
  }
}
@media (max-width: 414px) {
  .sheme__subtitle .bottom {
    gap: 20px;
  }
}
@media (max-width: 540px) {
  .sheme {
    padding: 10px;
  }
}

.statistics {
  padding: 50px 230px;
}
.statistics__title {
  color: #191919;
  margin: 0 0 70px -80px;
  font-weight: 700;
}
@media (max-width: 890px) {
  .statistics__title {
    margin: 0 0 70px 0;
  }
}
@media (max-width: 414px) {
  .statistics__title {
    font-size: 24px;
    margin: 0 0 40px;
  }
}
.statistics__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics__container .circle {
  width: 200px;
  height: 200px;
  position: relative;
}
.statistics__container .circle > svg {
  transform: rotate(180deg);
}
.statistics__container .circle > svg circle {
  stroke: url(#gradient1);
}
.statistics__container .circle:first-child > svg {
  transform: rotate(0deg);
}
.statistics__container .circle:first-child > svg path {
  stroke: url(#gradient);
  transform: translate(20px, 8px) rotate(3deg);
}
.statistics__container .circle:first-child > svg circle {
  stroke: url(#gradient);
}
.statistics__container .circle:last-child > svg {
  transform: rotate(90deg);
}
.statistics__container .circle:last-child > svg circle, .statistics__container .circle:last-child > svg path {
  stroke: url(#gradient1);
}
.statistics__container .circle:last-child > svg path {
  fill: transparent;
  transform: translate(100px, 100px) rotate(-85deg);
}
.statistics__container .circle:nth-child(2) svg path {
  stroke: url(#gradient);
  fill: transparent;
  transform: rotate(185deg) translate(-193px, -91px);
}
.statistics__container .circle:nth-child(3) svg circle {
  stroke: #312EE9;
}
.statistics__container .circle:nth-child(3) svg path {
  fill: transparent;
  stroke: url(#gradient);
  transform: rotate(185deg) translate(-105px, -175px);
}
.statistics__container .circle:nth-child(3) svg path:last-child {
  transform: rotate(185deg) translate(-192px, -91px);
}
.statistics__container .circle .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 57px);
}
.statistics__container .circle .text__count {
  color: #D0264F;
  font-size: 38px;
  font-weight: 700;
}
.statistics__container .circle .text__count > span {
  letter-spacing: 0.155em;
  font-size: 26px;
  color: #D0264F;
}
.statistics__container .circle .text__string {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 790px) {
  .statistics__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .statistics__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1170px) {
  .statistics {
    padding: 50px 100px;
  }
}
@media (max-width: 890px) {
  .statistics {
    padding: 50px 20px;
  }
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
footer .top {
  padding: 55px 150px 0 150px;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
footer .top__left-img {
  margin-left: -30px;
  margin-bottom: -20px;
  margin-top: -20px;
}
@media (max-width: 935px) {
  footer .top__left-img {
    max-width: 50%;
  }
}
@media (max-width: 414px) {
  footer .top__left-img {
    max-width: 80%;
  }
}
footer .top__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .top__left .call {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .top__left .call__text {
  font-size: 12px;
  font-weight: 300;
  color: #FFFFFF;
}
footer .top__left .call__number {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
@media (max-width: 414px) {
  footer .top__left .call {
    flex-direction: column;
  }
}
footer .top__left .media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 935px) {
  footer .top__left .media {
    justify-content: center;
    gap: 10px;
  }
}
footer .top__left > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
@media (max-width: 414px) {
  footer .top__left > button {
    padding: 8px 14px;
  }
}
@media (max-width: 935px) {
  footer .top__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0;
  }
}
@media (max-width: 414px) {
  footer .top__left {
    gap: 20px;
  }
}
footer .top__right {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1 repeat(6, 0.75fr);
}
footer .top__right ul {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
}
footer .top__right ul a {
  color: #FFFFFF;
}
footer .top__right ul li {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}
footer .top__right ul li a {
  color: #FFFFFF;
}
@media (max-width: 675px) {
  footer .top__right ul {
    margin: 0;
  }
}
footer .top__right .btn-block {
  margin-top: -74px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  grid-column: 3/7;
}
footer .top__right .btn-block .calc {
  background: linear-gradient(90deg, #D0264F 0%, #E94C72 50.46%, #D0264F 99.87%);
}
footer .top__right .btn-block .calc p {
  color: #FFFFFF;
}
footer .top__right .btn-block button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
footer .top__right .btn-block button p {
  font-size: 13px;
}
@media (max-width: 414px) {
  footer .top__right .btn-block button p {
    font-size: 11px;
  }
}
@media (max-width: 414px) {
  footer .top__right .btn-block button {
    padding: 8px 14px;
  }
}
@media (max-width: 675px) {
  footer .top__right .btn-block {
    grid-column: 1/4;
    margin-top: 0px;
    justify-content: none;
    gap: 10px;
  }
}
@media (max-width: 675px) {
  footer .top__right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 414px) {
  footer .top__right {
    grid: auto/1fr 1fr 1fr;
  }
}
@media (max-width: 1215px) {
  footer .top {
    padding: 20px 10px;
  }
}
@media (max-width: 935px) {
  footer .top {
    flex-direction: column;
  }
}
footer hr {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}
footer .bottom {
  padding: 10px 0;
}
footer .bottom p {
  text-align: center;
}
footer .bottom p > span, footer .bottom p > a {
  font-size: 8px;
  color: #FFFFFF;
}
footer .bottom p > a {
  text-decoration: underline;
}
footer .bottom p > a, footer .bottom p > span:first-child {
  font-weight: 300;
}
footer .bottom p > span:last-child {
  font-weight: 700;
}

.instr {
  max-width: 1440px;
  margin: 0 auto;
}
.instr__wrapper {
  background-color: #FFFFFF;
  min-width: 100%;
  padding: 50px 150px;
}
.instr__wrapper .instr__title {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 80px;
}
.instr__wrapper .instr__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.instr__wrapper .instr__container .instr-block {
  border: 1px solid #E8E8F0;
  padding: 20px 10px;
}
.instr__wrapper .instr__container .instr-block > h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}
.instr__wrapper .instr__container .instr-block .instr-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}
.instr__wrapper .instr__container .instr-block .instr-grid .instr__item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid #E8E8F0;
}
.instr__wrapper .instr__container .instr-block .instr-grid .instr__item > span {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 414px) {
  .instr__wrapper .instr__container .instr-block .instr-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
.instr__wrapper .instr__container .instr-block .instr-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex {
  padding: 10px;
  border: 1px solid #E8E8F0;
}
.instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex > h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex .video-block {
  min-width: 488px;
  min-height: 275px;
  background: url("../assets/img/instructionPage/video1.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1280px) {
  .instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex .video-block {
    min-width: 480px;
    min-height: 250px;
  }
}
@media (max-width: 1024px) {
  .instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex .video-block {
    min-width: 380px;
    min-height: 250px;
  }
}
@media (max-width: 393px) {
  .instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex .video-block {
    min-width: 300px;
    min-height: 250px;
  }
}
.instr__wrapper .instr__container .instr-block .instr-flex .instr__item-flex:last-child .video-block {
  background: url("../assets/img/instructionPage/video2.png") no-repeat;
}
@media (max-width: 1280px) {
  .instr__wrapper .instr__container .instr-block .instr-flex {
    justify-content: baseline;
  }
}
@media (max-width: 1024px) {
  .instr__wrapper .instr__container .instr-block .instr-flex {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 820px) {
  .instr__wrapper .instr__container .instr-block .instr-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .instr__wrapper {
    padding: 50px 100px;
  }
}
@media (max-width: 540px) {
  .instr__wrapper {
    padding: 50px 10px;
  }
}

.project {
  padding: 140px 150px;
  max-width: 750px;
}
.project > h1 {
  font-size: 35px;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .project > h1 {
    font-size: 24px;
  }
}
.project > p {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 65px;
}
@media (max-width: 414px) {
  .project > p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
.project > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background: #E8E8F0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
}
@media (max-width: 414px) {
  .project > button {
    padding: 15px 20px;
  }
}
@media (max-width: 540px) {
  .project {
    padding: 20px;
  }
}

.projects__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.projects__wrapper .projects__container {
  padding: 45px 150px;
  background-color: #FFFFFF;
}
.projects__wrapper .projects__container > h2 {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 30px;
}
.projects__wrapper .projects__container .projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 40px;
  column-gap: 45px;
}
.projects__wrapper .projects__container .projects-grid .project__item {
  cursor: pointer;
  background-color: #F0F5F8;
}
.projects__wrapper .projects__container .projects-grid .project__item > img {
  max-width: 100%;
}
.projects__wrapper .projects__container .projects-grid .project__item-text {
  padding: 20px 35px;
}
.projects__wrapper .projects__container .projects-grid .project__item-text > h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  word-wrap: break-word;
}
.projects__wrapper .projects__container .projects-grid .project__item-text > p {
  font-size: 13px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
  .projects__wrapper .projects__container .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media (max-width: 414px) {
  .projects__wrapper .projects__container .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
@media (max-width: 912px) {
  .projects__wrapper .projects__container {
    padding: 45px;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s all ease;
  pointer-events: none;
}
.modal__content {
  padding: 50px 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 1440px;
  margin-left: -16px;
}
.modal__content .preview {
  background: transparent;
}
.modal__content .preview__top .header {
  background: none;
}
.modal__content .preview__top .header__top .right > span {
  color: #D0264F;
}
@media (max-width: 820px) {
  .modal__content .preview__top .header__top {
    justify-content: flex-start;
    gap: 500px;
  }
}
@media (max-width: 540px) {
  .modal__content .preview__top .header__top {
    padding: 5px;
    justify-content: flex-start;
    gap: 250px;
  }
}
@media (max-width: 414px) {
  .modal__content .preview__top .header__top {
    justify-content: flex-start;
    gap: 150px;
  }
}
@media (max-width: 820px) {
  .modal__content .preview__top .header__top .left {
    align-self: flex-start;
  }
}
.modal__content .preview__top .header__top .burger > span {
  background-color: #FFFFFF;
}
@media (max-width: 1024px) {
  .modal__content .preview__top .header {
    padding: 0 10px;
  }
}
@media (max-width: 820px) {
  .modal__content .preview__top .header {
    padding: 0;
  }
}
.modal__content.black {
  background-color: #191919;
}
@media (max-width: 1280px) {
  .modal__content {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .modal__content {
    max-height: 100%;
    max-width: 1024px;
  }
}
@media (max-width: 912px) {
  .modal__content {
    max-width: 100%;
  }
}
@media (max-height: 600px) {
  .modal__content {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .modal__content {
    padding: 0;
  }
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 768px) {
  .modal {
    justify-content: flex-start;
  }
}
@media (max-width: 540px) {
  .modal {
    justify-content: center;
  }
}

.modalCall__wrapper {
  padding: 50px;
}
.modalCall__wrapper .modalCall__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.modalCall__wrapper .modalCall__title > h1 {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 414px) {
  .modalCall__wrapper .modalCall__title > h1 {
    font-size: 26px;
  }
}
.modalCall__wrapper .modalCall__title > img {
  cursor: pointer;
}
.modalCall__wrapper .modalCall__container {
  display: flex;
  gap: 175px;
}
.modalCall__wrapper .modalCall__container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .modalCall__wrapper .modalCall__container .info {
    justify-content: flex-start;
  }
}
@media (max-width: 912px) {
  .modalCall__wrapper .modalCall__container .info {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
.modalCall__wrapper .modalCall__container .info .number-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 375px) {
  .modalCall__wrapper .modalCall__container .info .number-block > p {
    font-size: 12px;
  }
}
.modalCall__wrapper .modalCall__container .info .time p, .modalCall__wrapper .modalCall__container .info .number-block p {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .modalCall__wrapper .modalCall__container {
    gap: 30px;
  }
}
@media (max-width: 912px) {
  .modalCall__wrapper .modalCall__container {
    flex-direction: column;
  }
}
.modalCall__wrapper .footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 120px;
  margin-top: 50px;
}
.modalCall__wrapper .footer .back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  border: 2px solid #191919;
  color: #191919;
  background-color: transparent;
}
.modalCall__wrapper .footer .back:hover {
  background-color: #191919;
  color: #FFFFFF;
}
.modalCall__wrapper .footer > p {
  font-weight: 400;
}
@media (max-width: 414px) {
  .modalCall__wrapper {
    padding: 20px;
  }
}

.modalCalc__wrapper {
  padding: 50px;
}
@media (max-width: 1024px) {
  .modalCalc__wrapper {
    padding: 10px;
  }
}
.modalCalc__wrapper .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.modalCalc__wrapper .title > h1 {
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .modalCalc__wrapper .title > h1 {
    font-size: 28px;
  }
}
@media (max-width: 540px) {
  .modalCalc__wrapper .title > h1 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .modalCalc__wrapper .title > h1 {
    font-size: 16px;
  }
}
.modalCalc__wrapper .title > img {
  cursor: pointer;
}
@media (max-width: 820px) {
  .modalCalc__wrapper .title {
    justify-content: space-around;
  }
}
@media (max-width: 375px) {
  .modalCalc__wrapper .title {
    margin-bottom: 0;
  }
}
.modalCalc__wrapper .modalCalc__container > h4 {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 150px;
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container > h4 {
    margin-left: 0;
    font-size: 20px;
  }
}
.modalCalc__wrapper .modalCalc__container .modalCalc__cart-block {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart {
  width: 230px;
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: space-between;
  border-radius: 15px;
  padding: 30px 15px;
  cursor: pointer;
}
.modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > img {
  align-self: flex-end;
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > img {
    width: 20%;
  }
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > img:last-child {
    width: 40%;
  }
}
.modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > p {
  align-self: flex-start;
  font-weight: 500;
  font-size: 23px;
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart > p {
    word-wrap: break-word;
    font-size: 10px;
  }
}
@media (max-height: 600px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart {
    height: 150px;
  }
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart {
    padding: 5px;
    width: 120px;
    height: 140px;
  }
}
@media (max-width: 414px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart {
    height: 120px;
    justify-content: space-around;
  }
}
@media (max-width: 375px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart {
    height: 100px;
    width: 100px;
    justify-content: space-around;
  }
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__container .modalCalc__cart-block .cart:last-child > img {
    width: 25%;
  }
}
.modalCalc__wrapper .modalCalc__progress {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modalCalc__wrapper .modalCalc__progress-sector {
  display: flex;
  align-items: center;
  gap: 350px;
  width: 100%;
}
.modalCalc__wrapper .modalCalc__progress-sector .btn-block {
  align-self: flex-start;
  display: flex;
  gap: 20px;
  align-items: center;
}
.modalCalc__wrapper .modalCalc__progress-sector .btn-block .previous {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 10px;
}
.modalCalc__wrapper .modalCalc__progress-sector .btn-block .previous:hover {
  background-color: #FFFFFF;
  color: #191919;
}
.modalCalc__wrapper .modalCalc__progress-sector .btn-block .next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: #D0264F;
}
.modalCalc__wrapper .modalCalc__progress-sector .btn-block .next > span {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.modalCalc__wrapper .modalCalc__progress-sector .slider-block {
  display: flex;
  align-items: center;
  gap: 50px;
  align-self: center;
}
.modalCalc__wrapper .modalCalc__progress-sector .slider-block .slider__btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .modalCalc__wrapper .modalCalc__progress-sector {
    gap: 40px;
  }
}
@media (max-width: 540px) {
  .modalCalc__wrapper .modalCalc__progress-sector {
    flex-direction: column-reverse;
  }
}
.modalCalc__wrapper .modalCalc__progress-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: hidden;
}
.modalCalc__wrapper .modalCalc__progress-block > p {
  color: #FFFFFF;
  font-weight: 400;
}
.modalCalc__wrapper .modalCalc__progress-block .progress__bar-block {
  max-width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.modalCalc__wrapper .modalCalc__progress-block .progress__bar-block .progress__bar {
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .modalCalc__wrapper .modalCalc__progress {
    margin-top: 40px;
  }
}
@media (max-width: 820px) {
  .modalCalc__wrapper .modalCalc__progress {
    margin-top: 20px;
  }
}
@media (max-width: 375px) {
  .modalCalc__wrapper .modalCalc__progress {
    margin-top: 10px;
  }
}

.carousel > h4 {
  font-weight: 600;
  font-size: 26px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.carousel > h4 > span {
  font-weight: 500;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 540px) {
  .carousel > h4 {
    font-size: 16px;
    gap: 5px;
  }
}
@media (max-width: 375px) {
  .carousel > h4 {
    flex-direction: column;
  }
}
.carousel__container {
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .carousel__container {
    margin-left: 100px;
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .carousel__container {
    margin-left: 10px;
  }
}
@media (max-width: 912px) {
  .carousel__container {
    margin-left: 140px;
  }
}
@media (max-width: 820px) {
  .carousel__container {
    margin-left: 70px;
  }
}
@media (max-width: 768px) {
  .carousel__container {
    margin-left: 40px;
  }
}
@media (max-width: 540px) {
  .carousel__container {
    margin-left: 0px;
  }
}
@media (max-width: 375px) {
  .carousel__container {
    margin-left: 60px;
  }
}
.carousel__container .carousel__item-block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  transition: translate;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.carousel__container .carousel__item-block .carousel__item {
  width: 317px;
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: space-between;
  border-radius: 15px;
  padding: 30px 15px;
  cursor: pointer;
}
.carousel__container .carousel__item-block .carousel__item > img {
  align-self: flex-end;
}
@media (max-width: 540px) {
  .carousel__container .carousel__item-block .carousel__item > img {
    width: 20%;
  }
}
.carousel__container .carousel__item-block .carousel__item > p {
  align-self: flex-start;
  font-weight: 500;
  font-size: 23px;
}
@media (max-width: 540px) {
  .carousel__container .carousel__item-block .carousel__item > p {
    font-size: 12px;
  }
}
.carousel__container .carousel__item-block .carousel__item.active {
  background-color: #D0264F;
}
.carousel__container .carousel__item-block .carousel__item.active > p {
  color: #FFFFFF;
}
@media (max-width: 540px) {
  .carousel__container .carousel__item-block .carousel__item {
    padding: 5px;
    width: 120px;
    height: 140px;
  }
}
@media (max-width: 375px) {
  .carousel__container .carousel__item-block .carousel__item {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 540px) {
  .carousel__container .carousel__item-block {
    gap: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 730px;
}
form .input-block {
  border-bottom: 2px solid #D0264F;
}
form .input-block input {
  border: none;
  outline: none;
  padding: 10px;
  width: 730px;
  background-color: transparent;
}
form .err {
  display: none;
  font-size: 12px;
  color: #D0264F;
}
form .err.active {
  display: block;
}
form .submit-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
form .submit-block > p {
  font-size: 10px;
}
form .submit-block > p > span {
  color: #E8E8F0;
  margin-left: 5px;
}
form .submit-block > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: #D0264F;
  border-radius: 10px;
}
form .submit-block > button > span {
  color: #FFFFFF;
}

.burger__wrapper {
  position: fixed;
  right: -100%;
  top: 0;
  background-color: #E8E8F0;
  z-index: 999;
  width: 340px;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}
.burger__wrapper.active {
  right: 0%;
  overflow-y: scroll;
}
.burger__wrapper .close {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0;
  margin-top: 20px;
  margin-right: 40px;
}
.burger__wrapper .close-menu > span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: #191919;
}
@media (max-width: 1050px) {
  .burger__wrapper .close-menu > span.active:nth-child(2) {
    opacity: 0;
  }
  .burger__wrapper .close-menu > span.active:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }
  .burger__wrapper .close-menu > span.active:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }
}
.burger__wrapper .close > p {
  font-size: 40px;
  font-weight: 700;
}
.burger__wrapper > ul {
  max-width: 100%;
}
.burger__wrapper > ul > li {
  padding: 20px;
  border-bottom: 1px solid #707086;
}
.burger__wrapper > ul > li > span, .burger__wrapper > ul > li a {
  font-weight: 600;
}
.burger__wrapper > ul > li > p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.burger__wrapper > ul > li > p > span {
  font-weight: 600;
}
.burger__wrapper > ul > li > ul {
  display: none;
}
.burger__wrapper > ul > li > ul.active {
  display: block;
  top: 0;
  left: 0;
}
.burger__wrapper > ul > li > ul > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.burger__wrapper > ul > li > ul > li > a > span {
  font-weight: 600;
}
.burger__wrapper .btn-sector {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.burger__wrapper .btn-sector > span {
  color: #312EE9;
  text-align: center;
}
.burger__wrapper .btn-sector .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.burger__wrapper .btn-sector .btn > p {
  font-weight: 600;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  background-color: #D0264F;
}
.wrapper .container {
  max-width: 1440px;
  background-color: #FFFFFF;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .wrapper .container {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
}

.stop-scrolling {
  overflow-y: hidden;
}