.carousel{

   & > h4{
      font-weight: 600;
      font-size: 26px;
      color: $white;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;

      & > span{
         font-weight: 500;
         font-size: 10px;
         color: rgba(255, 255, 255, 0.5);
      }

      @media (max-width: 540px) {
         font-size: 16px;
         gap: 5px;
      }
      @media (max-width: 375px) {
         // font-size: 13px;
         flex-direction: column;
      }
   }

   &__container{
      display: flex;
      align-items: center;
      gap: 50px;
      overflow: hidden;

      @media (max-width: 1280px) {
         margin-left: 100px;
         gap: 100px;
      }
      @media (max-width: 1024px) {
         margin-left: 10px;
      }
      @media (max-width: 912px) {
         margin-left: 140px;
      }
      @media (max-width: 820px) {
         margin-left: 70px;
      }
      @media (max-width: 768px) {
         margin-left: 40px;
      }
      @media (max-width: 540px) {
         margin-left: 0px;
      }
      @media (max-width: 375px) {
         margin-left: 60px;
      }

      .carousel__item-block{
         display: flex;
         align-items: center;
         gap: 20px;
         margin-bottom: 40px;
         transition: translate;
         transition-property: transform;
         transition-duration: .2s;
         transition-timing-function: ease-in-out;

         .carousel__item{
            width: 317px;
            height: 210px;
            display: flex;
            flex-direction: column;
            background-color: $white;
            justify-content: space-between;
            border-radius: 15px;
            padding: 30px 15px;
            cursor: pointer;

            & > img{
               align-self: flex-end;

               @media (max-width: 540px) {
                  width: 20%;
               }
            }

            & > p{
               align-self: flex-start;
               font-weight: 500;
               font-size: 23px;

               @media (max-width: 540px) {
                  font-size: 12px;
               }
            }

            &.active{
               background-color: $red;

               & > p{
                  color: $white;
               }
            }

            @media (max-width: 540px) {
               padding: 5px;
               width: 120px;
               height: 140px;
            }
            @media (max-width: 375px) {
               width: 120px;
               height: 120px;
            }
         }

         @media (max-width: 540px) {
            gap: 10px;
         }
      }
   }
}