.preview{
   // padding: 30px 60px;
   background: url('../assets/img/headerBackground.png');
   background-size: cover;
   background-repeat: no-repeat;

   @media (max-width: 800px) {
      background-size: 100% 100%;
   }

   &__top{

      .header{
         display: flex;
         flex-direction: column;
         // gap: 23px;
         background: rgba(255, 255, 255, 0.5);
         padding: 0px 60px 25px;
      
         &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .right{
               display: flex;
               align-items: center;
               gap: 60px;

               .header__btn{
                  @include btn;

                  & > p{
                     font-weight: 600;
                     color: $black;
                  }
               }

               & > span{
                  color: $blue;
                  cursor: pointer;
               }

               @media (max-width: 1050px) {
                  position: fixed;
                  right: -100%;
                  top: 479px;
                  flex-direction: column;
                  gap: 20px;
                  padding: 50px 45px;
   
                  &.active{
                     right: 0;
                     background: rgba(255, 255, 255, 0.5);
                     z-index: 200;
                     transition: .3s;
                  }
   
               }
            }

            .left {

               & > a{

                  & > img{

                     @media (max-width: 800px) {
                        width: 80%;
                     }
                  }
               }


            }

            .burger{
               display: none;
               cursor: pointer;

               span{
                  display: block;
                  width: 25px;
                  height: 3px;
                  margin: 5px auto;
                  -webkit-transition: all .3s ease-in-out;
                  transition: all .3 ease-in-out;
                  background-color: $black;
                  
                  @media (max-width: 1050px) {
                     
                     &.active{
   
                        &:nth-child(2){
                           opacity: 0;
                        }
      
                        &:nth-child(1){
                           transform: translate(0, 8px) rotate(45deg);
                        }
      
                        &:nth-child(3){
                           transform: translate(0, -8px) rotate(-45deg);
                        }
                     }
                  }
               }


               @media (max-width: 1050px) {
                  display: block;
               }
            }
         }

         &__bottom{
            nav{
               ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  li{
                     display: flex;
                     align-items: center;
                     gap: 10px;
                     position: relative;

                     & > a, span {
                        cursor: pointer;
                        color: $black;
                        font-weight: 600;
                     }

                     & > .dropDown{
                        display: none;
                     }

                     & > .dropDown.active{
                        min-width: 270px;
                        z-index: 999;
                        position: absolute;
                        top: 44px;
                        left: -20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background:rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(5px);

                        & > li{
                           border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                           min-width: 100%;
                           padding: 13px;
                           text-align: center;
                           font-size: 14px;
                           font-weight: 500;
                           display: flex;
                           align-items: center;

                           &:hover{
                              background-color: $lightGrey;
                           }
                           
                           & > a{
                              display: flex;
                              align-items: center;
                              gap: 10px;

                              & > span{
                                 font-size: 14px;
                                 font-weight: 500;
                              }
                           }

                           &:last-child{
                              border-bottom: none;
                           }
                        }

                     }

                     // & > .dropDown.active:nth-child(2){
                     //    left: -20px;
                     // }

                     & > .dropDown.active:last-child{
                        left: -100px;
                     }
                  }
               }

               &.black{

                  ul{

                     li{

                        a, span{
                           color: $white;
                        }

                     }
                  }
               }
            }

            @media (max-width: 1050px) {
               position: fixed;
               right: -100%;
               top: 165px;
               gap: 0;

               &.active{
                  right: 0;
                  background: rgba(255, 255, 255, 0.5);
                  z-index: 999;
                  transition: .3s;
               }

               nav ul{
                  flex-direction: column;
                  gap: 20px;
                  padding: 50px 100px;
               }
            }
         }

         @media (max-width: 800px) {
            padding: 0 20px;
         }
      }
   }

   .smart{
      margin-top: 140px;
      margin-left: 150px;
      display: flex;
      flex-direction: column;
      gap: 90px;
      position: relative;

      &__top{
         display: flex;
         flex-direction: column;
         gap: 30px;

         @media (max-width: 820px) {
            padding: 10px 20px;
         }

         .title{
            font-size: 35px;
            letter-spacing: 0.1em;
            color: $white;

            @media (max-width: 820px) {
               font-size: 18px;
            }
         }

         .subtitle{
            font-size: 20px;
            font-weight: 500;
            color: $white;

            @media (max-width: 820px) {
               font-size: 14px;
            }
         }
      }

      &__bottom{
         display: flex;
         align-items: center;
         gap: 20px;
         margin-bottom: 136px;

         .smart__btn{
            @include btn;
            padding: 25px 35px;

            &:first-child{
               background: linear-gradient(90deg, #D0264F 0%, #E94C72 50.46%, #D0264F 99.87%);

               & > p {
                  color: $white;
               }
            }

            & > p{
               font-size: 16px;
               font-weight: 500;
               color: black;

               @media (max-width: 800px) {
                  font-size: 12px;
               }

            }

            & > img{
               @media (max-width: 800px) {
                  width: 10%;
               }
            }

            @media (max-width: 820px) {
               padding: 10px 20px;

               &:last-child{
                  padding: 15px 20px;
               }
            }
            @media (max-width: 414px) {
               padding: 10px 20px;
               &:last-child{
                  padding: 13px 20px;
               }
            }
            @media (max-width: 393px) {
               padding: 10px 20px;
               &:last-child{
                  padding: 5px 20px;
               }
            }
         }

         @media (max-width: 820px) {
            margin-bottom: 30px;
            padding: 10px;
         }
      }

      &__ring{
         position: absolute;
         right: 0;
         top: calc(74% - 192px);
         // backdrop-filter: blur(5px); дуйствует на весь блок, а не закрашенную область

         @media (max-width: 1220px) {
            max-width: 40%;
            top: calc(80% - 192px);
         }

         @media (max-width: 1112px) {
            top: calc(107% - 192px);
         }

         @media (max-width: 1024px) {
            max-width: 40%;
            top: calc(114% - 192px);
         }
         
         @media (max-width: 912px) {
            display: none;
         }
      }

      @media (max-width: 820px) {
         margin-top: 100px;
         margin-left: auto;
         gap: 0;
         justify-content: space-around;
      }
      @media (max-width: 414px) {
         margin-top: 40px;
      }
   }
}

